/*Franco Donato Gonzalez, camada 2517*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;600&display=swap');

/*Keyframes*/

/*header*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color:black
}

.header{
    height: 80px;
    width: 100%;
    display:flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    box-shadow: rgba(33, 14, 138, 0.884) 0px 4px 15px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar{
    display: flex;
}

.navbar i{
    display:none;
    font-size: 30px;
    color: aliceblue;
}

#toggle-menu{
    display: none;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 20px;
}

.navbar-link{
    text-decoration: none;
    color:gray;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
}

.navbar-link:hover{
    color: white;
}

.header img{
    height: 120%;
    transition: ease-in-out 1s;;
}
.header img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/*Main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #525252;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#hero{
    padding-top:150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

#hero img{
    border-radius: 150%;
    margin: 0%;
    padding: 0%;
    transition: ease-in-out 1s;;

}
#hero img:hover{
    transition: 1s;
    cursor: pointer;
    transform: scale(1.2);
    
}
.hero-presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 40px;
}

.hero-presentacion h1{
    width: 70%;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
}


.botones{
    width: 60%;
    display: flex;
    gap: 15%;
}

.botones a{
    text-decoration: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 600;
}

.btn-primario{
    color:grey;
    background-color: rgb(127, 213, 247);
    transition: .5s;
}

.btn-primario:hover{
    color:#000000;
    box-shadow: rgba(227, 226, 231, 0.884) 0px 5px 15px;
    cursor: pointer;
    transform: scale(1.2);

}

.btn-secundario{
    color:gray;
    background-color: black;
    transition: .5s;
}
.btn-secundario:hover{
    color: white;
    box-shadow: rgba(227, 226, 231, 0.884) 0px 5px 15px;
    cursor: pointer;
    transform: scale(1.2);
}
.hero-presentacion p{
    width: 60%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.6rem;

}

/*About*/

#about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    max-width: 1000px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10%;
    margin:10% 0;
    text-align:center;
    
}

#about h2{
    font-size: 3rem;;
    width: 100%;
    margin-bottom: 10%;
    cursor: pointer;
    text-align:center;
    padding: 0 5%;
    background: #3e4b5a;
    color: #434343;
    border: 4px solid;
    border-color: rgba(72, 161, 161, 0.473);
    border-radius: 15px;
    transition: 1s ease-in-out;
}

#about h2:hover{
    transform: scale(1.1);
    color: black;
    border-color: aqua;
    border-radius: 30px;
    box-shadow: rgba(59, 181, 211, 0.884) 5px 10px 15px;
}

    /*products*/

#products{
    width: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    margin: 0;

}

#products h3{
    font-size: 3rem;;
    margin-bottom: 10%;
    cursor: pointer;
    padding: 0 5%;
    max-width: 1200px;
    background: #3e4b5a;
    border: 3px solid;
    color: #434343;
    border-color: rgba(72, 161, 161, 0.473);
    box-shadow: rgba(39, 39, 48, 0.301) 5px 10px 15px;
    border-radius: 15px;
    transition: 1s ease-in-out;
}

#products h3:hover{
    transform: scale(1.1);
    color: black;
    border-color: aqua;
    border-radius: 30px;
    box-shadow: rgba(59, 181, 211, 0.884) 5px 10px 15px;
}
.contenedor-card{
    width: 80%;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card img{
    width: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card:hover img{
    display: flex;
    transform:scale(1.8);
    margin: 0;
    padding: 0%;
    transition: 7s;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card{
    display: flex;
    background: #0a3c79;
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(11, 11, 12, 0.884) 0px 10px 10px ;
    transition: 4s ease-in;
    transition: 1s ease-out;
}


.card:hover{
    display: flex;
    transform:scale(1.3);
    transition: 3s;
    box-shadow: rgba(254, 254, 255, 0.884) 0px 10px 15px;
    cursor: pointer;
}
.card:hover .card-text{
    top: 10%;
    padding: 10%;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    color:rgb(243, 243, 243);
    transition: 4s;
}
.card:hover .btn-primary{
    display: flex;
    position: sticky;
}
.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 16px;
    width: 80%;
}
.card-text{
    top: 0;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color:rgba(255, 255, 255, 0);
    transition: 1s ease-out;

}

.btn-primary{
    display: flex;
    position:static;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25%;
    padding: 10px;
    width: 80%;
    background: #474547;
    border-radius: 10px;
    color: rgb(16, 17, 19);
    font-weight: 600;
    text-decoration: none;
    box-shadow: rgba(11, 11, 12, 0.884) 0px 5px 5px ;
    transition: .5s ease-out;

}

.btn-primary:hover{
    box-shadow: rgba(112, 27, 105, 0.884) 10px 10px 15px ;
    color:white;
    background: #000000;
    border: 3px solid rgb(243, 19, 206);
    border-width: 100%;
    border-color:rgb(240, 4, 161);
    transform: scale(1.1);
    transition: .5s;
}
/*Contact*/

#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    width: 100%;
}

#contact h2{
    font-size: 3rem;;
    margin-bottom: 10%;
    cursor: pointer;
    padding: 0 5%;
    max-width: 1200px;
    background: #3e4b5a;
    border: 3px solid;
    color: #434343;
    border-color: rgba(72, 161, 161, 0.473);
    box-shadow: rgba(39, 39, 48, 0.301) 5px 10px 15px;
    border-radius: 15px;
    transition: 1s ease-in-out;
}

#contact h2:hover{
    transform: scale(1.1);
    color: black;
    border-color: aqua;
    border-radius: 30px;
    max-width: 1000px;
    box-shadow: rgba(59, 181, 211, 0.884) 5px 10px 15px;
}

.contenedor-contacto{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 90%;
}

#contact h3{
    font-size: 25px;
    margin: 1rem;
}


.metodos-contacto p{
    font-size: 1.3rem;
}
.contenedor-iconos{
    margin-top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap:50px;
}

.icono i{
    display: flex;
    font-size: 5rem;
    transition: ease-in-out 2s;

}
.icono a{
    text-decoration: none;
}
.icono{
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #1d1d1d;
    transition: ease-in-out 1s;
    border-radius: 100%;
    border: 3px solid;
}

.icono:hover:nth-child(1){
    background: #540479;
    box-shadow: rgba(216, 8, 216, 0.884)5px 5px 15px;
    border: 6px solid;
    border-color: #bb06e9;
}
.icono:hover:nth-child(2){
    background: #0b7e07;
    box-shadow: rgba(17, 201, 26, 0.884)5px 5px 15px;
    border: 6px solid;
    border-color: #16c410;
}
.icono:hover:nth-child(3){
    background: #052680;
    box-shadow: rgba(5, 21, 243, 0.884)5px 5px 15px;
    border: 6px solid;
    border-color: #1257bd;
}
.icono:hover:nth-child(4){
    background: #970d0d;
    box-shadow: rgba(192, 103, 103, 0.884)5px 5px 15px;
    border: 6px solid;
    border-color: #c41010;
}
.icono i:hover{
    position: relative;
    overflow: hidden;
    transform: scale(1.4);
}

.direcciones{
    display: flex;
    text-align: left;
    justify-content: start;
    flex-direction: column;
    list-style: none;    
}
.direcciones li{
    font-size: 16px;
    margin: 10px;
    color: aliceblue;
}

.direcciones i{
    color:rgb(58, 71, 77);
    font-size: 16px;
    transition: ease-in-out .5s;

}
.direcciones i:hover{
    color: #000000;
    transform: scale(1.1);
}

.contenedor-mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 10%;
    border: solid 3px black;
    border-color: #000000;
    border-radius: 20px;
    transition: ease-in-out 1s;
    box-shadow: rgb(0, 0, 0) 0 10px 15px;
}

.contenedor-mapa:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-color: #27dbcc;
    box-shadow: rgb(17, 202, 187) 0px 5px 15px;

}

/*footer*/

.footer{
    display: flex;
    text-align: center;
    align-items: center;
    height: 100px;
    width: 100%;
    color: #474547;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.pie-pagina{
    display: flex;
    width: 90%;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.pie-pagina h3{
    color: rgb(70, 70, 70);
    transition: ease-in-out .5s;
}

.pie-pagina h3:hover{
    transform: scale(1.1);
    color: white;
}
.pie-pagina p{
    color: rgb(70, 70, 70);
    transition: ease-in-out .5s;
}

.pie-pagina p:hover{
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}
/*Media quarys*/
@media(max-width : 1500px){
    .contenedor-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 90%;
    }
    .contenedor-iconos{
        margin: 20% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap:50px;
    }


    .direcciones-mapa{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;

    }
    
}
@media(max-width : 992px){
    .hero-presentacion{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        gap: 30px;
    }
    .botones{
        display: flex;
        justify-content: center;
    }
    #hero img{
        display: none;
    }
    .hero-presentacion h1{
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
    }
    .hero-presentacion p{
        width: 100%;
        font-size: 1.3rem;
    }
    #about{
        width: 80%;
    }
    #about h2{
        width: max-content;
        font-size: 2rem;
    }
    #about p{
        width: 80%;
        font-size: 1.2rem;
    }
    #products .contenedor-card{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
    gap:40px
    }
    #products .h3{
        font-size: 2rem;
    }
    #contact h2{
        text-align: center;
        font-size: 2rem;
    }
    
}
@media(max-width : 690px){
    .navbar ul{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 80px);
        top: 80px;
        left: 0;
        position: absolute;
        background: #000000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        transform: translateX(0%);
        transition: all 0.6s ease-out;
    }    
    .navbar i{
        display: block;
        font-size: 40px;
    }

    #toggle-menu:checked~.navbar-lista{
        transform: translateX(200%);
        transition: all 0.6s ease-out;
    }
   #products .card{
    width: 16rem;
    height: 16rem;
   }
    #products h3{
        font-size: 1.8rem;
        width: 100%;
    }
    #contact h3{
        font-size:1.2rem;
    }
    .pie-pagina h3{
        font-size: 0.8rem;
    }
    .pie-pagina p{
        font-size: 0.6rem;
    }
}

