/*Franco Donato Gonzalez, camada 2517*/
html{
    background-color: rgb(3, 3, 94);
}
header{
    background-color: rgb(45, 8, 153);
}
*{
    margin: 0; 
    padding: 0; 
}
.contenedor{
    height: 130px;
}
.navbar{
    height:100px;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 130px;
}
.botones{
    display: center;
    margin: 10px;
}

li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;

}

.listnav{
    list-style: none;
    display: flex;
    font-style: inherit;
    color:black;
    border-bottom: none;


}
.inicio{
    margin:  5px;
}

.productos{
    margin:  5px;
}

.contratar{
    margin:  5px;
}


.contacto{
    margin:  5px;
}

.inicio:hover{
    color:floralwhite;
}

.productos:hover{
    color:floralwhite;
}
.contratar:hover{
    color:floralwhite;
}
.contacto:hover{
    color:floralwhite;
}