/*Franco Donato Gonzalez, camada 2517*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;600&display=swap');

/*header*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.header{
    height: 80px;
    width: 100%;
    display:flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    box-shadow: rgba(33, 14, 138, 0.884) 0px 4px 15px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar{
    display: flex;
}

.navbar i{
    display:none;
    font-size: 30px;
    color: aliceblue;
}

#toggle-menu{
    display: none;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar-link{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
 
.header img{
    height: 120%;
}

/*Main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #525252;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#hero{
    padding-top:80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.hero-presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 40px;
}

.hero-presentacion h1{
    font-size: 1.9em;
}

.botones{
    display: flex;
    gap: 15%;
}

.botones a{
    text-decoration: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 600;
}

.btn-primario{
    color: black;
    background-color: rgb(127, 213, 247);
    box-shadow: rgba(227, 226, 231, 0.884) 0px 5px 15px;
}

.btn-secundario{
    color:white;
    background-color: black;
    box-shadow: rgba(227, 226, 231, 0.884) 0px 5px 15px;

}
.hero-presentacion p{
    width: 60%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;

}

/*About*/

#about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-weight: 600;
    padding: 30px 0px;
    max-width: 850px;
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    
}

#about h1{
    margin-bottom: 10%;
    font-size: 50px;
}

@media(max-width : 992px){
    .hero-presentacion{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%;
        gap: 30px;
    }
    #hero img{
        display: none;
    }
    .hero-presentacion p{
        width: 80%;
    }
    #about h1{
        font-size: 40px;
    }
}
@media(max-width : 690px){
    .navbar ul{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 80px);
        top: 80px;
        left: 0;
        position: absolute;
        background: #000000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        transform: translateX(0%);
        transition: all 0.6s ease-out;
    }    
    .navbar i{
        display: block;
        font-size: 40px;
    }

    #toggle-menu:checked~.navbar-lista{
        transform: translateX(200%);
        transition: all 0.6s ease-out;
    }
}