/*Franco Donato Gonzalez, camada 2517*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;600&display=swap');

/*Keyframes*/

/*header*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color:black
}

.header{
    height: 80px;
    width: 100%;
    display:flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    box-shadow: rgba(33, 14, 138, 0.884) 0px 4px 15px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar{
    display: flex;
}

.navbar i{
    display:none;
    font-size: 30px;
    color: aliceblue;
}

#toggle-menu{
    display: none;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 20px;
}

.navbar-link{
    text-decoration: none;
    color:gray;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
}

.navbar-link:hover{
    color: white;
}

.header img{
    height: 120%;
}

/*Main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #525252;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#hero{
    padding-top:80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.hero-presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 40px;
}

.hero-presentacion h1{
    font-size: 1.9em;
    font-weight: 600;
}

.botones{
    display: flex;
    gap: 15%;
}

.botones a{
    text-decoration: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 600;
}

.btn-primario{
    color:grey;
    background-color: rgb(127, 213, 247);
    transition: .5s;
}

.btn-primario:hover{
    color:#000000;
    box-shadow: rgba(227, 226, 231, 0.884) 0px 5px 15px;
    cursor: pointer;
    transform: scale(1.2);

}

.btn-secundario{
    color:gray;
    background-color: black;
    transition: .5s;
}
.btn-secundario:hover{
    color: white;
    box-shadow: rgba(227, 226, 231, 0.884) 0px 5px 15px;
    cursor: pointer;
    transform: scale(1.2);
}
.hero-presentacion p{
    width: 60%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;

}

/*About*/

#about{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-weight: 600;
    padding: 30px 0px;
    max-width: 850px;
    margin-top:5%;
    margin-bottom:5%;
    text-align:center;
    
}

#about h2{
    font-size: 3rem;;
    margin-bottom: 10%;
    cursor: pointer;
    padding: 0 5%;
    background: #3e4b5a;
    border: 3px solid;
    border-color: rgba(72, 161, 161, 0.473);
    border-radius: 15px;
    transition: 3s ease-in-out;
}

#about h2:hover{
    transform: scale(1.1);
    border: 3px solid;
    border-color: aqua;
    box-shadow: rgba(81, 81, 201, 0.884) 5px 10px 15px;}
/*products*/
#products{
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10%;

}

#products h3{
    font-size: 3rem;;
    margin-bottom: 10%;
    cursor: pointer;
    padding: 0 5%;
    background: #3e4b5a;
    border: 3px solid;
    border-color: rgba(72, 161, 161, 0.473);
    border-radius: 15px;
    transition: 3s ease-in-out;
}

#products h3:hover{
    transform: scale(1.1);
    border: 3px solid;
    border-color: aqua;
    box-shadow: rgba(81, 81, 201, 0.884) 5px 10px 15px;
}
.contenedor-card{
    width: 80%;
    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.card img{
    width: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card:hover img{
    display: flex;
    transform:scale(1.8);
    margin: 0;
    padding: 0%;
    transition: 7s;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card{
    display: flex;
    background: #0a3c79;
    width: 18rem;
    height: 18rem;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(11, 11, 12, 0.884) 0px 10px 10px ;
    transition: 4s ease-in;
    transition: 1s ease-out;
}


.card:hover{
    display: flex;
    transform:scale(1.3);
    transition: 3s;
    box-shadow: rgba(254, 254, 255, 0.884) 0px 10px 15px;
    cursor: pointer;
}
.card:hover .card-text{
    top: 10%;
    padding: 10%;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    color:rgb(243, 243, 243);
    transition: 7s;
}
.card:hover .btn-primary{
    display: flex;
    position: sticky;
}
.card-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 16px;
    width: 80%;
}
.card-text{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color:rgba(255, 255, 255, 0);
    transition: 1s ease-out;

}

.btn-primary{
    display: flex;
    position:static;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10%;
    padding: 10px;
    width: 80%;
    background: #474547;
    border-radius: 10px;
    color: rgb(16, 17, 19);
    font-weight: 600;
    text-decoration: none;
    box-shadow: rgba(11, 11, 12, 0.884) 0px 5px 5px ;
    transition: .5s ease-out;

}

.btn-primary:hover{
    box-shadow: rgba(112, 27, 105, 0.884) 10px 10px 15px ;
    color:white;
    background: #000000;
    border: 3px solid rgb(243, 19, 206);
    border-width: 100%;
    border-color:rgb(240, 4, 161);
    transform: scale(1.1);
    transition: .5s;
}
/*Media quarys*/

@media(max-width : 992px){
    .hero-presentacion{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 90%;
        gap: 30px;
    }
    #hero img{
        display: none;
    }
    .hero-presentacion p{
        width: 80%;
    }
    #about h1{
        font-size: 40px;
    }
}
@media(max-width : 690px){
    .navbar ul{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 80px);
        top: 80px;
        left: 0;
        position: absolute;
        background: #000000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        transform: translateX(0%);
        transition: all 0.6s ease-out;
    }    
    .navbar i{
        display: block;
        font-size: 40px;
    }

    #toggle-menu:checked~.navbar-lista{
        transform: translateX(200%);
        transition: all 0.6s ease-out;
    }
}

